/* Add CSS Styling */

#one {
    background-color: rgb(0, 0, 0);
    color: white;
}

#two {
    background-color: #FFFF55;
}

.both {
    font-size: 28px;
    font-family: Helvetica, 'Times New Roman', sans-serif;
}